In [43]:
# Import des libraries classique (numpy, pandas, ...)
import pandas as pd
import numpy as np
import re
import sklearn as sk
import seaborn as sb
from matplotlib import pyplot as plt

from sklearn.impute import SimpleImputer

import collections

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import validation_curve
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report, f1_score
from sklearn.model_selection import learning_curve

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.ensemble import AdaBoostClassifier 
from sklearn.svm import SVC 
from sklearn.preprocessing import StandardScaler

from catboost import CatBoostClassifier, Pool

import streamlit as st


plt.style.use('ggplot')

In [2]:
# Import du dataframe "data.csv"
data = pd.read_csv('dataset_train_test.csv', delimiter=';')
df = data.copy()

In [3]:
df['Experience'] = [float(str(i).replace(",", ".")) for i in df['Experience']]

In [4]:
df['Diplome'].replace(['Master','MSc','MASTER','master','msc','Mastere'],'Master', inplace=True)

In [5]:
df['Diplome'].replace(['Bachelor','BSc','bachelor'],'Bachelor', inplace=True)

In [6]:
df['Diplome'].replace(['PhD','phd','Phd'],'PhD', inplace=True)

In [7]:
df['Diplome'].replace(['No diploma','NO'],'No diploma', inplace=True)

In [8]:
df['Diplome'].unique()

array(['Master', 'PhD', 'Bachelor', 'No diploma'], dtype=object)

In [9]:
imputerMedian = SimpleImputer(strategy='mean', missing_values=np.nan)
def imputationMedian(job):
    df.loc[df['Metier'] == job, 'Experience'] = imputerMedian.fit_transform(df.loc[df['Metier'] == job][['Experience']])
    return df

In [10]:
for job in df['Metier'].unique(): 
    imputationMedian(job)

In [11]:
df['Exp_label'] = df['Experience'].apply(lambda x: 'debutant' if x<2 else ('Confirme' if x>=2 and x<5 else ('Avance' if x>=5 and x<8 else 'Expert' )))

In [12]:
df_new = df.copy()

In [13]:
technos = df_new['Technologies'].str.split('/', expand=True)
technos

,0,1,2,3,4,5,6
0,Matlab,Python,Pyspark,Scikit-learn,Tensorflow,None,None
1,Python,Java,Scala,MongoDB,None,None,None
2,SPSS,SQL,Teradata,R,Python,Tensorflow,scikit-learn
3,C,C++,Java,Python,None,None,None
4,Matlab,Python,C++,numpy,Tensorflow,scikit-learn,None
...,...,...,...,...,...,...,...
9557,C++,R,Python,Matlab,Matplotlib,None,None
9558,Excel,Python,Matlab,R,machine learning,anglais,None
9559,R,machine learning,Excel,VBA,None,None,None
9560,Python,Pyspark,machine learning,Microsoft Azure,None,None,None
9561,VBA,Python,Excel,R,None,None,None

In [14]:
df_new[['technos1', 'technos2','technos3','technos4','technos5','technos6','technos7' ]] = df_new['Technologies'].str.split('/', expand=True)

In [15]:
df_new = df_new.drop(['Technologies'], axis=1)

In [16]:
technos_array = technos.stack().tolist()

In [17]:
sorted_technos = sorted (technos_array, key=technos_array.count, reverse =True)

In [18]:
output = []
for x in sorted_technos:
    if x not in output:
        output.append(x)
print(len(output))
output

61

['Python',
 'R',
 'SQL',
 'Java',
 'Hadoop',
 'Excel',
 'C++',
 'Spark',
 'Linux',
 'MongoDB',
 'VBA',
 'machine learning',
 'SAS',
 'Docker',
 'Matlab',
 'Hive',
 'Tensorflow',
 'Elasticsearch',
 'Big data',
 'C',
 'Kibana',
 'AWS',
 'GNU',
 'Teradata',
 '',
 'scikit-learn',
 'Machine learning',
 'Anglais',
 'Pyspark',
 'HDFS',
 'SPSS',
 'Microsoft Azure',
 'MariaDB',
 'Scikit-learn',
 'Scala',
 'Cassandra',
 'Matplotlib',
 'AI',
 'Scoring',
 'Vertica',
 'Tableau',
 'Kafka',
 'Pycharm',
 'NoSQL',
 'Deep learning',
 'PostgreSQL',
 'Yarn',
 'Map-Reduce',
 'PIG',
 'HBASE',
 'PySpark',
 'anglais',
 'numpy',
 'Redshift',
 'NoSQ',
 'Hadoop(HDFS)',
 'ORACLE',
 'MySQL',
 'Windows',
 'Perl',
 'Ruby']

In [19]:
df_new = df_new.fillna(value= "No more")

In [20]:
df_new

,Entreprise,Metier,Diplome,Experience,Ville,Exp_label,technos1,technos2,technos3,technos4,technos5,technos6,technos7
0,Sanofi,Data scientist,Master,1.000000,Paris,debutant,Matlab,Python,Pyspark,Scikit-learn,Tensorflow,No more,No more
1,Massachusetts General Hospital(MGH),Data architecte,Master,3.000000,Marseille,Confirme,Python,Java,Scala,MongoDB,No more,No more,No more
2,No more,Lead data scientist,Master,3.000000,Nantes,Confirme,SPSS,SQL,Teradata,R,Python,Tensorflow,scikit-learn
3,Ann & Robert H. Lurie Children’s Hospital of C...,Data scientist,Master,1.500000,Marseille,debutant,C,C++,Java,Python,No more,No more,No more
4,No more,Data scientist,PhD,2.255155,Bordeaux,Confirme,Matlab,Python,C++,numpy,Tensorflow,scikit-learn,No more
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9557,No more,Data scientist,Master,1.500000,Lyon,debutant,C++,R,Python,Matlab,Matplotlib,No more,No more
9558,Charles River Analytics,Data scientist,Master,11.000000,Toulouse,Expert,Excel,Python,Matlab,R,machine learning,anglais,No more
9559,Ball Aerospace,Data scientist,Master,1.000000,Paris,debutant,R,machine learning,Excel,VBA,No more,No more,No more
9560,No more,Data scientist,Master,17.000000,Rennes,Expert,Python,Pyspark,machine learning,Microsoft Azure,No more,No more,No more
9561,Vertex,Data scientist,PhD,0.000000,Paris,debutant,VBA,Python,Excel,R,No more,No more,No more

In [21]:
df_new.drop(['Entreprise', 'Experience'], axis = 1, inplace = True)

In [22]:
df_new

,Metier,Diplome,Ville,Exp_label,technos1,technos2,technos3,technos4,technos5,technos6,technos7
0,Data scientist,Master,Paris,debutant,Matlab,Python,Pyspark,Scikit-learn,Tensorflow,No more,No more
1,Data architecte,Master,Marseille,Confirme,Python,Java,Scala,MongoDB,No more,No more,No more
2,Lead data scientist,Master,Nantes,Confirme,SPSS,SQL,Teradata,R,Python,Tensorflow,scikit-learn
3,Data scientist,Master,Marseille,debutant,C,C++,Java,Python,No more,No more,No more
4,Data scientist,PhD,Bordeaux,Confirme,Matlab,Python,C++,numpy,Tensorflow,scikit-learn,No more
...,...,...,...,...,...,...,...,...,...,...,...
9557,Data scientist,Master,Lyon,debutant,C++,R,Python,Matlab,Matplotlib,No more,No more
9558,Data scientist,Master,Toulouse,Expert,Excel,Python,Matlab,R,machine learning,anglais,No more
9559,Data scientist,Master,Paris,debutant,R,machine learning,Excel,VBA,No more,No more,No more
9560,Data scientist,Master,Rennes,Expert,Python,Pyspark,machine learning,Microsoft Azure,No more,No more,No more
9561,Data scientist,PhD,Paris,debutant,VBA,Python,Excel,R,No more,No more,No more

In [36]:
cb = CatBoostClassifier(n_estimators=200,
                        loss_function ='MultiClass',
                        learning_rate = 0.4,
                        depth=3,
                        task_type = 'CPU',
                        random_state = 1,
                        verbose = True)

In [25]:
X_df = df_new.drop('Metier', axis = 1)
y_df = df_new['Metier']

In [26]:
X_train, X_val, y_train, y_val = train_test_split(X_df, y_df, test_size = 0.3)

In [28]:
pool_train = Pool(X_train, y_train, cat_features=['Diplome','Ville','Exp_label','technos1','technos2','technos3','technos4','technos5','technos6','technos7'])

In [29]:
pool_val = Pool(X_val, cat_features=['Diplome','Ville','Exp_label','technos1','technos2','technos3','technos4','technos5','technos6','technos7'])

In [49]:
cb_model = cb.fit(pool_train)

0:	learn: 0.8082134	total: 50.6ms	remaining: 10.1s
1:	learn: 0.6259857	total: 107ms	remaining: 10.6s
2:	learn: 0.5244528	total: 163ms	remaining: 10.7s
3:	learn: 0.4547276	total: 218ms	remaining: 10.7s
4:	learn: 0.4067104	total: 269ms	remaining: 10.5s
5:	learn: 0.3816401	total: 361ms	remaining: 11.7s
6:	learn: 0.3639035	total: 437ms	remaining: 12s
7:	learn: 0.3527187	total: 526ms	remaining: 12.6s
8:	learn: 0.3396611	total: 619ms	remaining: 13.1s
9:	learn: 0.3197562	total: 685ms	remaining: 13s
10:	learn: 0.3074327	total: 746ms	remaining: 12.8s
11:	learn: 0.3005069	total: 814ms	remaining: 12.8s
12:	learn: 0.2927169	total: 868ms	remaining: 12.5s
13:	learn: 0.2913480	total: 921ms	remaining: 12.2s
14:	learn: 0.2898327	total: 982ms	remaining: 12.1s
15:	learn: 0.2877627	total: 1.04s	remaining: 12s
16:	learn: 0.2857173	total: 1.1s	remaining: 11.9s
17:	learn: 0.2834935	total: 1.16s	remaining: 11.7s
18:	learn: 0.2829591	total: 1.22s	remaining: 11.6s
19:	learn: 0.2816268	total: 1.28s	remaining: 11.5s
20:	learn: 0.2803156	total: 1.33s	remaining: 11.4s
21:	learn: 0.2800960	total: 1.39s	remaining: 11.2s
22:	learn: 0.2746289	total: 1.45s	remaining: 11.2s
23:	learn: 0.2744044	total: 1.51s	remaining: 11.1s
24:	learn: 0.2743259	total: 1.57s	remaining: 11s
25:	learn: 0.2731217	total: 1.63s	remaining: 10.9s
26:	learn: 0.2723713	total: 1.69s	remaining: 10.8s
27:	learn: 0.2698548	total: 1.74s	remaining: 10.7s
28:	learn: 0.2690261	total: 1.8s	remaining: 10.6s
29:	learn: 0.2687184	total: 1.85s	remaining: 10.5s
30:	learn: 0.2675920	total: 1.91s	remaining: 10.4s
31:	learn: 0.2671786	total: 1.98s	remaining: 10.4s
32:	learn: 0.2668486	total: 2.06s	remaining: 10.4s
33:	learn: 0.2667978	total: 2.12s	remaining: 10.3s
34:	learn: 0.2657744	total: 2.18s	remaining: 10.3s
35:	learn: 0.2656457	total: 2.26s	remaining: 10.3s
36:	learn: 0.2651322	total: 2.32s	remaining: 10.2s
37:	learn: 0.2649162	total: 2.41s	remaining: 10.3s
38:	learn: 0.2647387	total: 2.48s	remaining: 10.2s
39:	learn: 0.2646372	total: 2.54s	remaining: 10.1s
40:	learn: 0.2644920	total: 2.59s	remaining: 10.1s
41:	learn: 0.2644108	total: 2.65s	remaining: 9.96s
42:	learn: 0.2641903	total: 2.7s	remaining: 9.87s
43:	learn: 0.2638590	total: 2.76s	remaining: 9.8s
44:	learn: 0.2636067	total: 2.82s	remaining: 9.72s
45:	learn: 0.2634828	total: 2.9s	remaining: 9.69s
46:	learn: 0.2634425	total: 2.95s	remaining: 9.6s
47:	learn: 0.2633402	total: 3.01s	remaining: 9.52s
48:	learn: 0.2631251	total: 3.07s	remaining: 9.45s
49:	learn: 0.2630074	total: 3.12s	remaining: 9.37s
50:	learn: 0.2628431	total: 3.18s	remaining: 9.29s
51:	learn: 0.2622807	total: 3.24s	remaining: 9.23s
52:	learn: 0.2622551	total: 3.31s	remaining: 9.17s
53:	learn: 0.2587299	total: 3.38s	remaining: 9.13s
54:	learn: 0.2586176	total: 3.44s	remaining: 9.08s
55:	learn: 0.2585222	total: 3.58s	remaining: 9.21s
56:	learn: 0.2584587	total: 3.65s	remaining: 9.16s
57:	learn: 0.2580964	total: 3.71s	remaining: 9.08s
58:	learn: 0.2578844	total: 3.76s	remaining: 8.99s
59:	learn: 0.2576638	total: 3.82s	remaining: 8.92s
60:	learn: 0.2574200	total: 3.88s	remaining: 8.84s
61:	learn: 0.2570239	total: 3.94s	remaining: 8.77s
62:	learn: 0.2568113	total: 3.99s	remaining: 8.68s
63:	learn: 0.2566185	total: 4.04s	remaining: 8.59s
64:	learn: 0.2563747	total: 4.11s	remaining: 8.53s
65:	learn: 0.2562101	total: 4.16s	remaining: 8.45s
66:	learn: 0.2559796	total: 4.22s	remaining: 8.39s
67:	learn: 0.2557931	total: 4.28s	remaining: 8.31s
68:	learn: 0.2555699	total: 4.34s	remaining: 8.24s
69:	learn: 0.2554645	total: 4.39s	remaining: 8.16s
70:	learn: 0.2554452	total: 4.45s	remaining: 8.09s
71:	learn: 0.2554044	total: 4.5s	remaining: 8s
72:	learn: 0.2553083	total: 4.55s	remaining: 7.92s
73:	learn: 0.2550121	total: 4.61s	remaining: 7.84s
74:	learn: 0.2549591	total: 4.67s	remaining: 7.79s
75:	learn: 0.2544838	total: 4.75s	remaining: 7.75s
76:	learn: 0.2544109	total: 4.84s	remaining: 7.73s
77:	learn: 0.2543303	total: 4.9s	remaining: 7.67s
78:	learn: 0.2542569	total: 4.97s	remaining: 7.61s
79:	learn: 0.2540071	total: 5.03s	remaining: 7.54s
80:	learn: 0.2538521	total: 5.08s	remaining: 7.47s
81:	learn: 0.2536307	total: 5.14s	remaining: 7.39s
82:	learn: 0.2535769	total: 5.19s	remaining: 7.32s
83:	learn: 0.2533335	total: 5.25s	remaining: 7.25s
84:	learn: 0.2531955	total: 5.3s	remaining: 7.17s
85:	learn: 0.2530239	total: 5.35s	remaining: 7.09s
86:	learn: 0.2529226	total: 5.41s	remaining: 7.03s
87:	learn: 0.2527072	total: 5.46s	remaining: 6.96s
88:	learn: 0.2524527	total: 5.52s	remaining: 6.89s
89:	learn: 0.2520745	total: 5.58s	remaining: 6.82s
90:	learn: 0.2519409	total: 5.64s	remaining: 6.75s
91:	learn: 0.2517743	total: 5.69s	remaining: 6.68s
92:	learn: 0.2516145	total: 5.75s	remaining: 6.62s
93:	learn: 0.2515052	total: 5.8s	remaining: 6.55s
94:	learn: 0.2513666	total: 5.86s	remaining: 6.48s
95:	learn: 0.2513305	total: 5.92s	remaining: 6.41s
96:	learn: 0.2511231	total: 5.98s	remaining: 6.35s
97:	learn: 0.2510784	total: 6.03s	remaining: 6.28s
98:	learn: 0.2507147	total: 6.08s	remaining: 6.2s
99:	learn: 0.2506728	total: 6.13s	remaining: 6.13s
100:	learn: 0.2506593	total: 6.18s	remaining: 6.06s
101:	learn: 0.2505636	total: 6.24s	remaining: 5.99s
102:	learn: 0.2502078	total: 6.29s	remaining: 5.92s
103:	learn: 0.2499168	total: 6.35s	remaining: 5.86s
104:	learn: 0.2497366	total: 6.4s	remaining: 5.79s
105:	learn: 0.2495763	total: 6.45s	remaining: 5.72s
106:	learn: 0.2493027	total: 6.5s	remaining: 5.65s
107:	learn: 0.2492992	total: 6.56s	remaining: 5.59s
108:	learn: 0.2492857	total: 6.62s	remaining: 5.52s
109:	learn: 0.2490802	total: 6.68s	remaining: 5.46s
110:	learn: 0.2489320	total: 6.74s	remaining: 5.4s
111:	learn: 0.2488962	total: 6.8s	remaining: 5.34s
112:	learn: 0.2486152	total: 6.87s	remaining: 5.29s
113:	learn: 0.2485780	total: 6.92s	remaining: 5.22s
114:	learn: 0.2484161	total: 6.98s	remaining: 5.16s
115:	learn: 0.2481458	total: 7.04s	remaining: 5.1s
116:	learn: 0.2479775	total: 7.12s	remaining: 5.05s
117:	learn: 0.2477766	total: 7.19s	remaining: 4.99s
118:	learn: 0.2474385	total: 7.28s	remaining: 4.95s
119:	learn: 0.2474052	total: 7.35s	remaining: 4.9s
120:	learn: 0.2470205	total: 7.41s	remaining: 4.84s
121:	learn: 0.2469417	total: 7.49s	remaining: 4.79s
122:	learn: 0.2468483	total: 7.55s	remaining: 4.73s
123:	learn: 0.2467255	total: 7.61s	remaining: 4.67s
124:	learn: 0.2466724	total: 7.68s	remaining: 4.61s
125:	learn: 0.2465165	total: 7.74s	remaining: 4.55s
126:	learn: 0.2463061	total: 7.81s	remaining: 4.49s
127:	learn: 0.2460190	total: 7.87s	remaining: 4.42s
128:	learn: 0.2458721	total: 7.92s	remaining: 4.36s
129:	learn: 0.2458322	total: 7.96s	remaining: 4.29s
130:	learn: 0.2457422	total: 8.05s	remaining: 4.24s
131:	learn: 0.2456719	total: 8.11s	remaining: 4.18s
132:	learn: 0.2455313	total: 8.17s	remaining: 4.12s
133:	learn: 0.2453831	total: 8.22s	remaining: 4.05s
134:	learn: 0.2453050	total: 8.28s	remaining: 3.98s
135:	learn: 0.2451637	total: 8.33s	remaining: 3.92s
136:	learn: 0.2451202	total: 8.39s	remaining: 3.86s
137:	learn: 0.2449620	total: 8.45s	remaining: 3.8s
138:	learn: 0.2448207	total: 8.53s	remaining: 3.74s
139:	learn: 0.2447783	total: 8.61s	remaining: 3.69s
140:	learn: 0.2445477	total: 8.67s	remaining: 3.63s
141:	learn: 0.2443801	total: 8.72s	remaining: 3.56s
142:	learn: 0.2443315	total: 8.78s	remaining: 3.5s
143:	learn: 0.2442718	total: 8.83s	remaining: 3.43s
144:	learn: 0.2441604	total: 8.88s	remaining: 3.37s
145:	learn: 0.2440246	total: 8.94s	remaining: 3.31s
146:	learn: 0.2439554	total: 8.99s	remaining: 3.24s
147:	learn: 0.2436710	total: 9.05s	remaining: 3.18s
148:	learn: 0.2433363	total: 9.1s	remaining: 3.12s
149:	learn: 0.2432484	total: 9.16s	remaining: 3.05s
150:	learn: 0.2426488	total: 9.21s	remaining: 2.99s
151:	learn: 0.2425117	total: 9.27s	remaining: 2.93s
152:	learn: 0.2423815	total: 9.32s	remaining: 2.86s
153:	learn: 0.2420165	total: 9.39s	remaining: 2.8s
154:	learn: 0.2419197	total: 9.45s	remaining: 2.74s
155:	learn: 0.2418361	total: 9.51s	remaining: 2.68s
156:	learn: 0.2418058	total: 9.58s	remaining: 2.62s
157:	learn: 0.2417612	total: 9.64s	remaining: 2.56s
158:	learn: 0.2417468	total: 9.7s	remaining: 2.5s
159:	learn: 0.2417165	total: 9.78s	remaining: 2.45s
160:	learn: 0.2416026	total: 9.85s	remaining: 2.39s
161:	learn: 0.2415801	total: 9.91s	remaining: 2.32s
162:	learn: 0.2412023	total: 9.97s	remaining: 2.26s
163:	learn: 0.2408633	total: 10s	remaining: 2.2s
164:	learn: 0.2408410	total: 10.1s	remaining: 2.14s
165:	learn: 0.2407592	total: 10.2s	remaining: 2.09s
166:	learn: 0.2406530	total: 10.3s	remaining: 2.04s
167:	learn: 0.2405721	total: 10.5s	remaining: 1.99s
168:	learn: 0.2400458	total: 10.6s	remaining: 1.94s
169:	learn: 0.2397856	total: 10.7s	remaining: 1.89s
170:	learn: 0.2397382	total: 10.8s	remaining: 1.82s
171:	learn: 0.2396725	total: 10.8s	remaining: 1.76s
172:	learn: 0.2396374	total: 10.9s	remaining: 1.7s
173:	learn: 0.2396092	total: 10.9s	remaining: 1.63s
174:	learn: 0.2394676	total: 11s	remaining: 1.57s
175:	learn: 0.2394380	total: 11s	remaining: 1.5s
176:	learn: 0.2392696	total: 11.1s	remaining: 1.44s
177:	learn: 0.2391873	total: 11.1s	remaining: 1.38s
178:	learn: 0.2391410	total: 11.2s	remaining: 1.31s
179:	learn: 0.2390239	total: 11.2s	remaining: 1.25s
180:	learn: 0.2389738	total: 11.3s	remaining: 1.19s
181:	learn: 0.2388666	total: 11.5s	remaining: 1.14s
182:	learn: 0.2386663	total: 11.6s	remaining: 1.07s
183:	learn: 0.2386101	total: 11.6s	remaining: 1.01s
184:	learn: 0.2385010	total: 11.7s	remaining: 947ms
185:	learn: 0.2383938	total: 11.7s	remaining: 884ms
186:	learn: 0.2382630	total: 11.8s	remaining: 821ms
187:	learn: 0.2381820	total: 11.9s	remaining: 757ms
188:	learn: 0.2381079	total: 11.9s	remaining: 694ms
189:	learn: 0.2380461	total: 12s	remaining: 630ms
190:	learn: 0.2378306	total: 12.1s	remaining: 568ms
191:	learn: 0.2378186	total: 12.1s	remaining: 505ms
192:	learn: 0.2377208	total: 12.2s	remaining: 442ms
193:	learn: 0.2375970	total: 12.3s	remaining: 379ms
194:	learn: 0.2375480	total: 12.3s	remaining: 316ms
195:	learn: 0.2374954	total: 12.4s	remaining: 253ms
196:	learn: 0.2373347	total: 12.4s	remaining: 189ms
197:	learn: 0.2372903	total: 12.5s	remaining: 126ms
198:	learn: 0.2370417	total: 12.6s	remaining: 63.1ms
199:	learn: 0.2369000	total: 12.6s	remaining: 0us

In [50]:
y_pred = cb_model.predict(pool_val)

In [51]:
y_pred

array([['Data scientist'],
       ['Data scientist'],
       ['Data architecte'],
       ...,
       ['Data scientist'],
       ['Data scientist'],
       ['Data engineer']], dtype=object)

In [52]:
print(classification_report(y_val, y_pred))

                     precision    recall  f1-score   support

    Data architecte       0.98      0.98      0.98       650
      Data engineer       1.00      1.00      1.00       682
     Data scientist       0.83      0.91      0.87      1171
Lead data scientist       0.61      0.42      0.49       366

           accuracy                           0.88      2869
          macro avg       0.86      0.83      0.84      2869
       weighted avg       0.88      0.88      0.88      2869

In [53]:
confusion_matrix(y_val, y_pred)

array([[ 638,    0,   12,    0],
       [   0,  682,    0,    0],
       [   7,    0, 1067,   97],
       [   3,    0,  211,  152]], dtype=int64)

In [54]:
cb_model.save_model('cb_model.json')